<div class="messenger">
  <div class="messenger__head">Вы восхитительны 😍</div>

  <div class="messenger__message-list" #messageList>
    <div
      *ngFor="let message of messages"
      class="messenger__message a-text16"
      [ngClass]="{ messenger__message_from: message.type === 'from', messenger__message_to: message.type === 'to' }"
      [innerHTML]="message.message"
    ></div>
  </div>

  <div *ngIf="!done; else doneBlock" class="messenger__controls">
    <input [(ngModel)]="input" class="messenger__input a-text16" type="text" (keyup.enter)="sendRequest(input)"/>
    <button class="messenger__button messenger__button_help a-text16" (click)="sendRequest('!помощь')">?</button>
    <button class="messenger__button a-text16" (click)="sendRequest(input)">Отправить</button>
  </div>
  <ng-template #doneBlock>
    <div class="messenger__controls">
      <button class="messenger__button messenger__button_done a-text16" (click)="resolve()">Завершить!</button>
    </div>
  </ng-template>
</div>
