<div class="messenger">
  <div class="messenger__head">You're the best! 😎</div>

  <div class="messenger__message-list">
    <div class="messenger__message messenger__message_from">Hello!</div>
    <div class="messenger__message messenger__message_from">1+1=?</div>
    <div class="messenger__message messenger__message_to">2</div>
    <div class="messenger__message messenger__message_from">Nice!</div>
  </div>

  <div class="messenger__controls">
    <input class="messenger__input a-text16" type="text">
    <button class="messenger__button a-text16">Отправить</button>
    <button class="messenger__button messenger__button_help a-text16">?</button>
  </div>
</div>
