<div class="page-404">
  <div class="container">
    <p class="page-404__title a-text32">Страница не найдена</p>
    <p class="a-text16">
      Вернитесь на главную страницу или сообщите об ошибке
    </p>
    <div class="page-404__controls">
      <a class="page-404__control a-button" routerLink="/">Вернуться на главную</a>
      <a class="page-404__control a-button" href="https://github.com/Darkvood/study-app/issues" target="_blank">
        Сообщить об ошибке
      </a>
    </div>
  </div>
</div>
