@import 'src/variables';

.lesson {
  display: flex;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0 12px 11px rgba(0, 0, 0, 0.08);
  height: 600px;

  @media (max-width: $tablet) {
    height: auto;
    flex-direction: column;
    box-shadow: none;
  }

  &__aside {
    padding: 20px;
    flex: 1;
    background-color: #eee;
    overflow-y: scroll;
    height: 100%;

    @media (max-width: $tablet) {
      max-height: 60vh;
      box-shadow: 0 12px 11px rgba(0, 0, 0, 0.08);
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__messenger {
    flex: 1;

    @media (max-width: $tablet) {
      margin-top: 20px;
      box-shadow: 0 12px 11px rgba(0, 0, 0, 0.08);
    }
  }
}
