@import 'src/variables';

.lesson {
  display: flex;
  border-radius: 4px;
  box-shadow: 0 12px 11px rgba(0, 0, 0, 0.08);

  @media (max-width: $tablet) {
    flex-direction: column;
  }

  &__aside {
    padding: 20px;
    flex: 1;
    background-color: #eee;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__messenger {
    flex: 1;
  }

  &__back-url {
    margin-bottom: 20px;
  }
}
