<div class="about-page">
  <div class="container">
    <div class="about-page__content">
      <a class="about-page__back-url a-button" routerLink="/">← Вернуться на главную</a>
      <h1 class="a-text32">Что такое Study App?</h1>
      <p class="about-page__text a-text16">
        Это площадка интерактивных уроков на различные темы. Идея заключается в предоставлении пользователю
        теоретической информации, с последующей ее практикой в чате с ботом-помощником.
      </p>
      <h2 class="about-page__text a-text24">Контроль выполнения</h2>
      <p class="about-page__text a-text16">
        После прохождения теории, необходимо поочередно ответить на все вопросы. Для ответа на вопрос предоставляется 5
        попыток. В любое время без ограничений доступна кнопка помощи ( "?" в окне чата). Текст подсказки адаптируется
        под количество неудачных ответов на текущий вопрос, а именно - чем меньше ошибок, тем меньше букв содержится в
        слове-подсказке, и, наоборот, чем больше ошибок, тем большее количество букв.
      </p>
      <h2 class="about-page__text a-text24">Open Source</h2>
      <p class="about-page__text a-text16">
        Исходный код проекта открыт, и доступен на GitHub:
        <a class="a-link" href="https://github.com/Darkvood/study-app" target="_blank">https://github.com/Darkvood/study-app</a>
      </p>
      <h2 class="about-page__text a-text24">Roadmap</h2>
      <div class="about-page__text a-text16">
        <ul>
          <li>Пополнять базу уроков;</li>
        </ul>
      </div>
    </div>
  </div>
</div>
