<div class="lesson-filters">
  <div class="container">
    <div class="lesson-filters__content">
      <label class="lesson-filters__input-wrap a-text16">
        Поиск
        <input class="lesson-filters__input" type="text" [(ngModel)]="lessonsService.search"/>
      </label>

      <select class="lesson-filters__select a-text16" [(ngModel)]="lessonsService.category">
        <option selected="selected" value="all">Все категории</option>
        <option *ngFor="let category of lessonsService.lessonCategories" [value]="category">{{ category }}</option>
      </select>
    </div>
  </div>
</div>
