<div class="lesson-filters">
  <div class="container">
    <div class="lesson-filters__content">
      <label class="lesson-filters__input-wrap a-text16">
        Поиск
        <input class="lesson-filters__input" type="text" disabled>
      </label>

      <select class="lesson-filters__select a-text16" disabled>
        <option value="0">Показывать все</option>
        <option value="1">Только не завершенные</option>
        <option value="2">Только завершенные</option>
      </select>
    </div>
  </div>
</div>


