.header {
  position: relative;
  padding: 80px 0;
  color: #fff;

  &__bg {
    overflow: hidden;
    z-index: -1;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    position: absolute;
    background-image: url("src/assets/img/header-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:after {
      content: "";
      display: block;
      background-color: rgba(0, 0, 0, 0.35);
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 815px;
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__about {
    margin-top: 20px;
  }
}

.lesson-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0 40px;
  margin-left: -15px;
  margin-right: -15px;
}

