<header class="header">
  <div class="header__bg"></div>
  <div class="container">
    <div class="header__content">
      <h1 class="header__title a-text32">
        Интерактивное обучение уже рядом
      </h1>
      <h2 class="a-text24">
        Совершенствуйте навыки на практике, общаясь с помощником, который научит и протестирует вас
      </h2>
      <a class="header__about a-text16 a-button" routerLink="/about">Подробней о проекте</a>
    </div>
  </div>
</header>

<main>
  <app-lesson-filters></app-lesson-filters>
  <div class="container">
    <div class="lesson-list">
      <app-lesson-card *ngFor="let lesson of lessonsService.lessons | lessonCardFilter: lessonsService.search "
                       [lesson]="lesson"></app-lesson-card>
    </div>
  </div>
</main>
