@import "variables";

body {
  font-family: "Roboto";
}

.container {
  max-width: 1270px;
  padding: 0px 20px;
  width: 100%;
  margin: 0px auto;
}

// text
.a-text40 {
  font-size: 40px;
  line-height: 54px;

  @media (max-width: $mobileWide) {
    font-size: 24px;
    line-height: 36px;
  }
}

.a-text32 {
  font-size: 32px;
  line-height: 40px;
  @media (max-width: $mobileWide) {
    font-size: 24px;
    line-height: 36px;
  }
}

.a-text24 {
  font-size: 24px;
  line-height: 36px;

  @media (max-width: $mobileWide) {
    font-size: 20px;
    line-height: 30px;
  }
}

.a-text16 {
  font-size: 16px;
  line-height: 24px;
}

.a-text14 {
  font-size: 14px;
  line-height: 20px;
}

.lesson-article {
  p:not(:last-child) {
    margin-bottom: 15px;
  }

  i {
    font-style: italic;
    color: #888;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

// elements
.a-button {
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  background-color: #188cbf;
  color: white;
  box-shadow: 0 12px 11px rgba(0, 0, 0, 0.08);

  &:hover, &focus {
    background-color: #157ba8;
  }

  &_light {
    background-color: #91dcff;
  }
}

.a-link {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px dashed #d2d2d2;

  &:hover,
  &:focus {
    color: #188cbf;
    border-color: #188cbf;
  }
}
